## Summer 2022 Data Science Intern Challenge at Shopify
### by Sarwari Das

### Question 2: For this question youâ€™ll need to use SQL. Follow this link to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

## a) How many orders were shipped by Speedy Express in total?

Query: 


SELECT COUNT(*)         
FROM Orders         
INNER JOIN Shippers     
ON Orders.ShipperID = Shippers.ShipperID        
WHERE ShipperName = "Speedy Express"

Returns: 54

## Therefore, **54** orders were shipped by Speedy Express.

## b) What is the last name of the employee with the most orders?

Query:

SELECT Employees.LastName,            
COUNT( * ) as NumberOfOrders        
FROM Orders         
INNER JOIN Employees        
ON Employees.EmployeeID=Orders.EmployeeID       
GROUP BY Employees.EmployeeID       
ORDER BY NumberOfOrders DESC        
limit 1;        

Returns: Peacock

## Therefore, the last name of the employee with most orders is **Peacock**.

## c) What product was ordered the most by customers in Germany?

Query:

SELECT Products.ProductName, SUM(OrderDetails.Quantity) as TotalQuantityOrdered         
FROM Orders     
INNER JOIN OrderDetails on Orders.OrderID = OrderDetails.OrderID            
INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID        
INNER JOIN Products on OrderDetails.ProductID = Products.ProductID      
WHERE Country = "Germany"       
GROUP BY OrderDetails.ProductID     
ORDER BY TotalQuantityOrdered DESC      
limit 1;        

Returns: Boston Crab Meat

## Therefore, the product that was ordered the most by customers in Germany was **Boston Crab Meat.**